<td width='10%' class='invoking-project'>{{{escape project}}}</td>
<td width='20%' class='invoking-file'>{{{escape file}}}</td>
<td width='10%' class='invoking-version'>{{{escape version}}}</td>
<td width='20%' class='invoking-location'>{{{escape location}}}</td>
<td width='30%'>{{{escape description}}}</td>
